body{
  font-size: 14px;
  font-family: Arial, sans-serif;
  line-height: 18px;
  color: #332525;
}


/*#E8B8A1*/
/*#FFF1D9 Цвет контента*/

.leader-paragraph {
  font-style: italic;
}

.paragraph {
  margin-top: 15px;
}

@media (max-width: 480px) { 
  body {
    background-color: #E8B8A1;
  } 
  .header {
    text-align: center;
  }
  
  .paragraph {
    background-color: #FFF1D9;
    padding-left: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    padding-bottom: 10px;
    padding-top: 10px;
    
  }
  
}